<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>PayFlex</name>
    <displayName><![CDATA[PayFlex]]></displayName>
    <version><![CDATA[0.1.0]]></version>
    <description><![CDATA[PayFlex - Flex the way you pay.]]></description>
    <author><![CDATA[PayFlex]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall the PayFlex module?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>
